* {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: #5627c2;
}

html {
    font: 16px ui-sans-serif, system-ui, sans-serif;
    cursor: default;
    min-height: 100%;
    display: flex;
}

body {
    margin: auto;
    background: #f5f8ff;
    text-align: center;
    padding: 4rem 1rem;
    max-width: 23rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a {
    color: #5627c2;
}

p {
    margin: 2rem 0;
    line-height: 1.5;
}

#logo {
    width: 100%;
    max-width: 14rem;
}

@keyframes content-entrance {
    0% {
        opacity: 0;
    }
}

header,
main > *,
footer {
    animation: content-entrance 1s ease backwards;
}

main > *:nth-child(1) {
    animation-delay: .5s;
}

main > *:nth-child(2) {
    animation-delay: 1s;
}

main > *:nth-child(3) {
    animation-delay: 1.5s;
}

footer {
    animation-delay: 2s;
}
